#add{
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/icons/round_plus_icon&48.png");
}

#edit{
    -fx-background-color: none;
    -fx-background-image: url("/icons/cogs_icon&48.png");
    -fx-background-repeat: no-repeat;
}

#remove{
    -fx-background-color: none;
    -fx-background-repeat: no-repeat;    -fx-background-image: url("/icons/round_delete_icon&48.png");
}

.button:hover {
    -fx-opacity: 75%;
}

.button:pressed {
    -fx-border-color: black;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view {
    -fx-background-color: transparent;
}